.slide-c{
    display: none;
}

.connectedSortable{
    
}

.projectMenuItem:hover{
    cursor: pointer;
    background: #bae1ff;
}

.wrap_text{
    white-space: pre-wrap;  /* <-- THIS PRESERVES THE LINE BREAKS */
}